<section class="section-search">
  <form
    class="form-word-search"
    action="/search"
    method="POST"
    role="search window"
    aria-label="word search window"
  >
    <div class="form__search">
      <label for="search-box"></label>
      <input class="form__search-input" type="text" name="searchString"
      id="search-box" placeholder="Search word" alt="Search word in kanji,
      hiragana, katakana, romaji or English." onkeyup="sendData()"
    </div>
    <button class="search__btn" type="submit">Search</button>
  </form>
</section>
<section class="section-search-results">
  <div
    class="search__predictions"
    id="search-predictions"
    role="search predictions"
    aria-label="list of words in database matching input that user may be searching for"
  ></div>

  <% if (searchString.length === 0) { %>
  <ul class="search__results">
    <h1 class="search__title">Must Enter Search</h1>
  </ul>

  <% } else if (searchResults.length > 0) { %>
  <ul class="search__results">
    <h1 class="search__title">Search Results for: (<%= searchString %>)</h1>
    <% for (let searchResult of searchResults) { %>
    <li class="search__result">
      <div class="search__result--top-row">
        <h2><%= searchResult.日本語.日本語単語 %></h2>
        <span class="search__result--part-of-speech"
          ><%= searchResult.日本語.日本語品詞 %></span
        >
        <% if (searchResult.日本語.助詞 == '') { %>
        <span class="search__result--part-of-speech"></span>
        <% } else { %>
        <span class="search__result--part-of-speech"
          >(<%= searchResult.日本語.助詞 %>)</span
        >
        <% } %> <% switch (searchResult.日本語.語類) { case "文語": %>
        <span class="search__result--word-type">(文)</span>
        <% break; case "口語": %>
        <span class="search__result--word-type">(口)</span>
        <% break; case "両方": %>
        <span class="search__result--word-type">(文口)</span>
        <% break; case "未定": %>
        <span class="search__result--word-type"></span>
        <% break; default: break; } %>
      </div>
      <div class="search__result--second-row">
        <span class="search__result--hiragana"
          ><%= searchResult.日本語.平仮名 %></span
        >
        <span class="search__result--katakana"
          ><%= searchResult.日本語.片仮名 %></span
        >
        <span class="search__result--romaji"
          ><%= searchResult.日本語.ローマ字 %></span
        >
      </div>
      <div class="search__result--third-row">
        <span class="search__result--english"
          ><%= searchResult.英語.英単語 %></span
        >
        <span class="search__result--part-of-speech"
          ><%= searchResult.英語.英語品詞 %></span
        >
      </div>
      <% if (searchResult.英語.二次的定義 == '' && searchResult.英語.複数定義 ==
      '' && searchResult.日本語.日本語例文 == '' && searchResult.英語.英語例文
      == '' ) { %> <% } else { %>
      <div class="accordian-hidden">
        <% if (searchResult.英語.二次的定義 == '' ) { %>
        <div class="accordian__item"></div>
        <% } else { %>
        <div class="accordian__item">
          <h3 class="accordian__item--title">二次的定義</h3>
          <span class="accordian__item--text"
            ><%= searchResult.英語.二次的定義 %></span
          >
        </div>
        <% } %> <% if (searchResult.英語.複数定義 == '' ) { %>
        <div class="accordian__item"></div>
        <% } else { %>
        <div class="accordian__item">
          <h3 class="accordian__item--title">複数定義</h3>
          <span class="accordian__item--text"
            ><%= searchResult.英語.複数定義 %></span
          >
        </div>
        <% } %> <% if (searchResult.日本語.日本語例文 == '' ) { %>
        <div class="accordian__item"></div>
        <% } else { %>
        <div class="accordian__item">
          <h3 class="accordian__item--title">日本語例文</h3>
          <span class="accordian__item--text"
            ><%= searchResult.日本語.日本語例文 %></span
          >
        </div>
        <% } %> <% if (searchResult.英語.英語例文 == '' ) { %>
        <div class="accordian__item"></div>
        <% } else { %>
        <div class="accordian__item">
          <h3 class="accordian__item--title">英語例文</h3>
          <div class="accordian__item--text">
            <%= searchResult.英語.英語例文 %>
          </div>
        </div>
        <% } %>
      </div>

      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="accordian-icon"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.75 19.5L8.25 12l7.5-7.5"
        />
      </svg>
      <% } %>
    </li>
    <% } %>
  </ul>
  <% } else { %>
  <ul class="search__results">
    <h1 class="search__title">No Words Found</h1>
  </ul>
  <% } %>
</section>

<script>
  function sendData(e) {
    const input = document.getElementById("search-box").value;
    console.log(input);
    document.getElementById("search-predictions").innerHTML = input;
  }
</script>
