<section class="section-review">
  <form
    class="review__card--form"
    action="/review"
    method="GET"
    id="get-review-form"
    role="word review card"
    aria-label="Word review card with Japanese and English"
  >
    <button
      id="new-review-word"
      name="type"
      type="submit"
      value="newWords"
      class="review__card--button-new"
    >
      New Word
    </button>
    <button
      id="current-review-word"
      name="type"
      type="submit"
      value="reviewWords"
      class="review__card--button-review"
    >
      Review Word
    </button>
  </form>
  <% if (searchResult.length > 0) { %> <% searchResult.forEach(function(result)
  { %>
  <div class="review__card">
    <h2 class="review__card--word"><%= result.日本語.日本語単語 %></h2>

    <div class="review__card--answer-container">
      <div class="div front face">
        <h3 class="review__card--subtitle">Hover to see answer</h3>
      </div>
      <div class="back face">
        <div class="review__card--answer">
          <h3 class="review__card--yomikata"><%= result.日本語.平仮名 %></h3>
          <h3 class="review__card--english"><%= result.英語.英単語 %></h3>
        </div>
      </div>
    </div>

    <form action="/search" method="POST" id="post-review-more-details-form">
      <input
        type="hidden"
        name="word"
        id="post-review-more-details"
        value="<%= result.日本語.日本語単語 %>"
      />
      <button
        type="submit"
        aria-label="Get more details about <%= result.日本語.日本語単語 %>"
        class="review__card--button-review"
      >
        More Details
      </button>
    </form>

    <div class="review__card--submit">
      <form
        action="/review"
        method="POST"
        role="submit data form"
        aria-label="Choose level of memorization for each word."
        id="post-review-word"
        data-word="<%= result.日本語.日本語単語 %>"
      >
        <button
          class="review__card--button red"
          type="button"
          id="red"
        ></button>
        <button
          class="review__card--button orange"
          type="button"
          id="orange"
        ></button>
        <button
          class="review__card--button yellow"
          type="button"
          id="yellow"
        ></button>
        <button
          class="review__card--button green"
          type="button"
          id="green"
        ></button>
      </form>
    </div>
  </div>
  <% }); %> <% } else { %>
  <div class="review__card">
    <h2 class="review__card--word">No words in collection</h2>

    <h3 class="review__card--subtitle">
      Click new word and save to collection first.
    </h3>
  </div>
  <% } %>
</section>
