<h2 class="subtitle">
  Welcome back <%= user.name[0].toUpperCase() + user.name.substring(1) %>
</h2>
<p class="generic-text">Member since: <%= formattedDate %></p>

<p class="generic-text">Word of the day: <%= mappedWordOfTheDay %></p>

<p class="generic-text">Sentence of the day: <%= mappedSentenceOfTheDay %></p>

<h2 class="subtitle">Words in my collection</h2>
<p class="generic-text">Total: <%= myWords %></p>
<p class="generic-text">
  <span class="review__card--button red">Red</span> Unfamiliar words: <%= red %>
</p>
<p class="generic-text">
  <span class="review__card--button orange">Orange</span> Somewhat familiar
  words: <%= orange %>
</p>
<p class="generic-text">
  <span class="review__card--button yellow">Yellow</span> Familiar words: <%=
  yellow %>
</p>
<p class="generic-text">
  <span class="review__card--button green">Green</span> Mastered words: <%=
  green %>
</p>
